<div fxLayout="column" class="container">
    <img src="/assets/ryp_logo.png"/>
    <h2>A self assessment tool for improving software practices</h2>

    <p>
        Software engineering is a systematic approach to the design, development, 
        and maintenance of a software system. Teams seldom have the time to stop development 
        and focus solely on improving productivity or sustainability. However, teams can incorporate 
        improvements on the way to developing new science capabilities.
    </p>
    <p>
        The tools on this site will help you:
    </p>
    <ul>
        <li>Assess your current practices</li>
        <li>Create progress tracking cards</li>
        <li>Integrate tracking cards with your workflow</li>
    </ul>
    <p>
    The self-assessment introduces software engineering practices that increase in maturity. 
    Check the practices that your project already uses to rate your project.
    </p>
    <p>
    Click on the assessment to the left tab to get started. You can also click the arrow 
    icon on the assessment tab to view the practice categories.
    </p>
    Good luck!
    <p>
    <a href="https://bssw-psip.github.io/ptc-catalog/">Read the documentation</a>
    </p>
</div>